## Final Project
### Data Science LHL Project: Restaurant Reccomenation system

### Part 1: Data Collection

By: Chloe Phuong

In [165]:
import numpy as np
import pandas as pd
import requests

#### Request API for Bike Station

In [182]:
# CityBikes

# API endpoint for Toronto city
url = 'https://api.citybik.es/v2/networks/toronto'

# Send GET request to retrieve bike-sharing data for Toronto
response = requests.get(url)

# Extract the data from the response
data = response.json()

# Extract the list of stations
stations = data['network']['stations']

# Iterate over each station and access the details
for i, station in enumerate(stations):
    if i > 100:
        break  # Exit the loop if the limit is reached
    
    station_id = station.get('id')
    name = station.get('name')
    latitude = station.get('latitude')
    longitude = station.get('longitude')

# Create a list to store the station details
station_details = []

# Iterate over each station and access the details
for i, station in enumerate(stations):
    if i > 100:
        break  # Exit the loop if the limit is reached
    
    station_id = station['id']
    name = station['name']
    latitude = station['latitude']
    longitude = station['longitude']

    # Append the station details as a dictionary to the list
    station_details.append({
        'Station ID': station_id,
        'Name': name,
        'Latitude': latitude,
        'Longitude': longitude,
    })

# Create the bike stations DataFrame
bike_df = pd.DataFrame(station_details)
bike_df

,Station ID,Name,Latitude,Longitude
0,fb337bbed72e2be090071e199899b2be,Queen St E / Woodward Ave,43.665269,-79.319796
1,4ff88d5880e71aa40d34cfe5d09b0ca7,Primrose Ave / Davenport Rd,43.671420,-79.445947
2,a09c67c0b419654d907c9134b108e328,Queen St. E / Rhodes Ave.,43.666224,-79.317693
3,d6a9daee68070a8b106cfb598d81308c,Bond St / Queen St E,43.653236,-79.376716
4,8f8af40d9388c8a3962559e8681d3db7,Church St / Alexander St,43.663722,-79.380288
...,...,...,...,...
96,908b17c0d06011373777bace0a3cd74c,Beltline Trail / Chaplin Cres.,43.704461,-79.423122
97,d2ce6ae839b7df2c912ab140253a5574,Lake Shore Blvd E / Leslie St,43.659195,-79.329196
98,1d35b8fd44d73aabbb39f6e142ee3e7e,King St E / Berkeley St,43.651885,-79.364900
99,72de8a8e0a0966768f8115d755532e4c,Rosedale Park (20 Scholfield Ave),43.682645,-79.377557
100,4c18c44e6f93e57321d327124945cb19,Mary McCormick Rec Centre (Sheridan Ave),43.647500,-79.433056

#### Request Yelp API

In [193]:
API_key = 'F96v6uaBtjqZep119n0LPC1eX86JWeCnCLUpXZ6kwHEOIgu398knZFDSQLihYbIlCLssLEPdR_bt93xMb52MAZ6HTIp2DqhQECakSUy9aOZaPNPy62thcYrNOeCpZHYx'
url = 'https://api.yelp.com/v3/businesses/search'
radius = 1000  # Radius in meters
limit = 10

In [196]:
# Iterate over each row in the dataframe
for index, row in bike_df.iterrows():
    latitude = row['Latitude']
    longitude = row['Longitude']

    params = {
        'latitude': latitude,
        'longitude': longitude,
        'radius': radius,
        'term': 'restaurants',
        'limit': limit
    }
    headers = {
        'Authorization': f'Bearer {API_key}'
    }

    # Send 1st API request to Yelp
    response = requests.get(url, params=params, headers=headers)
    rest_data = response.json()

    # Extract the list of businesses
    businesses = rest_data['businesses']

    # Create an empty list to store the extracted details
    rest_details = []

    # Iterate over each business and extract the details
    for business in businesses:
        business_id = business['id']
        name = business['name']
        address = ', '.join(business['location']['display_address'])
        city = business['location']['city']
        postal_code = business['location']['zip_code']
        latitude = business['coordinates']['latitude']
        longitude = business['coordinates']['longitude']
        stars = business['rating']
        review_count = business['review_count']
        is_open = not business['is_closed']
        categories = ', '.join([category['title'] for category in business['categories']])
        hours = business.get('hours')

        rest_details.append({
            'business_id': business_id,
            'name': name,
            'address': address,
            'city': city,
            'postal_code': postal_code,
            'latitude': latitude,
            'longitude': longitude,
            'stars': stars,
            'review_count': review_count,
            'is_open': is_open,
            'categories': categories,
            'hours': hours
        })

KeyError: 'businesses'

In [185]:
# Create a DataFrame from the list of restaurant details
rest_df = pd.DataFrame(rest_details)

# Print the DataFrame
rest_df.head(5)

,business_id,name,address,city,postal_code,latitude,longitude,stars,review_count,is_open,categories,hours
0,8NnL91vKggTZXse92Hlr8w,Sakai Bar,"1576 Dundas Street West, Toronto, ON M6K 1T8, ...",Toronto,M6K 1T8,43.649978,-79.434471,4.5,22,True,"Japanese, Bars, Tapas/Small Plates",None
1,-bR_E93JC2MktefiSl1huA,Milou,"1375 Dundas St W, Toronto, ON M6J 1Y3, Canada",Toronto,M6J 1Y3,43.649392,-79.427910,4.0,25,True,"Bistros, French, Cafes",None
2,NHN1TrCENIyQoVA77phjwA,Hawk & Chick,"1426 Dundas Street W, Toronto, ON M6J 1Y5, Canada",Toronto,M6J 1Y5,43.649770,-79.429550,4.5,24,True,"Korean, Japanese, Fast Food",None
3,fN_I3jP7RD2llubTvhXtKQ,Good Fork,"1550 Dundas Street W, Toronto, ON M6K 1T5, Canada",Toronto,M6K 1T5,43.649878,-79.433416,4.0,393,True,"Breakfast & Brunch, Canadian (New)",None
4,qPVqfJAzC8APF8aWGBtFRA,Antler Kitchen & Bar,"1454 Dundas Street West, Toronto, ON M6J 1Y6, ...",Toronto,M6J 1Y6,43.649850,-79.430590,4.5,289,True,Canadian (New),None

In [188]:
rest_df.shape

(10, 12)